.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
    box-shadow: 0 -19px 18px -13px #d1d1d1;
    height: 105px;
}

.footer>.footer-btn {
    border-radius: 30px;
    border: 0;
    color: #fff;
    background-color: #ADBDC4;
    padding: 10px 10px 10px 20px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.footer>.resume {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.footer>* {
    font-family: Lato;
}