.accessory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border: 2px solid #EDEDED;
    font-family: Lato;
    font-weight: bold;
    margin-bottom: 10px;
    height: 100px;
    align-items: center;
    cursor: pointer;
}

.accessory>.label {
    flex: 1;
}

.accessory>.input-checkbox {
    width: 30px;
    height: 30px;
}

.accessory>.price {
    padding-right: 30px;
}

.accessory>p {
    font-size: 25px;
}