.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 150px 0px 150px;
}

.summary>.description {
    text-align: center;
    color: #7D96A0;
}

.summary>* {
    font-family: Lato;
}

.summary>.accessories.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7D96A0;
}

.summary>.title.section {
    font-weight: bold;
    font-size: large;
    color: #24221f;
}

.summary>.color.section {
    display: flex;
    font-size: 30px;
    align-items: center;
}

.summary>.title.section>* {
    font-weight: bold;
    font-size: large;
    color: #24221f;
}

.summary>.line {
    margin-top: 10px;
    width: 50px;
    border-top: 3px solid #EDEDED;
}