.name.page {
    padding-top: 0.7em;
    padding-right: 0.8em;
    padding-bottom: 0.7em;
    padding-left: 0.8em;
    cursor: pointer;
    transition: opacity 0.5s, border 0.2s ease-in-out;
}

.name.page>p {
    margin: 0;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    transition: opacity 0.5s ease-in-out;
}

.name.page.enable>p:hover {
    transition-duration: 0.25s;
    transition-property: color;
    color: #FFB80B;
}